.main-container{
    border: 2px solid gray;
    max-width: 550px;
    min-height: 400px;
    margin: 10px auto;
    border-radius: 10px;
}

.todo-create-box{
    max-width: 450px;
    margin: 10px auto;
    padding: 10px 10px;
}